body {
	background-color: #E5E5E5;;
	padding-top: 10px;
}

.sidebar {
	margin: 10px auto;
	width: 700px;
}

.menu {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 700;
	background: url('./img/whs_logo.png') right center no-repeat;
	background-color: inherit;
	display: flex;
	justify-content: center;
}

.link {
	width: 103px;
	text-decoration: none;
	text-align: center;
	color: #000;
	padding: 10px;
}

.active_link {
	background-color: #356EFF;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	border-radius: 37px;
	color: #fff;
}
