.wrap {
  position: absolute;
  margin: 20px auto;
  padding: 5px 15px;
  width: 700px;
  height: 644px;
  font-family: 'Roboto';
}

.info {
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  padding-right: 6px;
}

.info_list {
  display: flex;
}

.avatar {
  margin: 10px 20px 8px 9px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #999999;
  margin-right: 120px;
}

.name {
  font-size: 28px;
  color: #000;
  margin: 12px 0;
}

.bio {
  margin-bottom: 8px;
}

.contact_link {
  display: flex;
  align-items: center;
  line-height: 25px;
}

.socialNetwork {
  display: flex;
  align-items: flex-end;
}

.logo {
  padding: 6px;
}

.projects {
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.err {
  color: red;
  text-align: center;
  padding-top: 80px;
}

.title {
  font-size: 16px;
  text-align: left;
  padding: 18px;
}

.projects_list {
  padding-bottom: 30px;
}

.project_link {
  text-decoration: none;
  color: #000;
  line-height: 2;
}

.error_wrap {
  text-align: center;
  padding: 60px 0;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.repolist {
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}

.repo {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  height: 46px;
  width: 636px;
  margin: 8px auto;
  padding: 6px 12px;
}

.repo_info {
  display: flex;
  margin: 0;
  align-items: center;
  color: #999999;
  font-size: 12px;
}

.elem {
  margin: 4px 5px;
}

.repo_info__null-icon {
  margin-right: 5px;
  height: 14px;
  width: 14px;
  background-color: #999999;
  border-radius: 50%;
}

.repo_info__html-icon {
  margin-right: 5px;
  height: 14px;
  width: 14px;
  background: #E34C26;
  border-radius: 50%;
}

.repo_info__css-icon {
  margin-right: 5px;
  height: 14px;
  width: 14px;
  background: #563D7C;
  border-radius: 50%;
}

.repo_info__javascript-icon {
  margin-right: 5px;
  height: 14px;
  width: 14px;
  background: #F1E05A;
  border-radius: 50%;
}
