.wrap {
  position: absolute;
  display: inline-flex;
  height: 36px;
  left: 65px;
  top: 568px;
}

.input {
  width: 592px;
  border: 1px solid #CCCCCC;
  border-radius: 29px;
  height: inheritт;
}
