.wrap {
    display: flex;
    justify-content: end;
}

.button {
    border: none;
    border-radius: 20px;
    background-color: inherit;
    margin: 7px;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    background-color: #356EFF;
    color: #fff;
}
